%h2 Search for users
.container
  .row
    .col-md-8.offset-md-2
      = form_tag("/search", method: "get") do
        .form-group
          = label_tag(:search, "Filter users:")
        .form-group
          = text_field_tag(:search, nil, class: 'form-control')
        .form-group
          = submit_tag("Search", class: "btn btn-primary btn-lg btn-block")

  .row
    .col-md-8.offset-md-2
      - if @filtered_users.blank?
        - @users.each do |user|
          .form-group
            = form_tag({ controller: 'invitations', action: 'create' }, method: 'post') do
              = user.email
              = select_tag 'group_id', options_from_collection_for_select(@user_groups, :id, :name)
              = hidden_field_tag(:sender_id, current_user.id)
              = hidden_field_tag(:receiver_id, user.id)
              = submit_tag "invite", name: nil, class: 'btn btn-default btn-lg btn-submit'
            %hr
