.container
  .row
    .col-4.offset-4
      %h2 Log in
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.input :email, input_html: { class: 'form-control', placeholder: "login" }
        .form-group
          = f.input :password, input_html: { class: 'form-control', placeholder: "password" }
        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me
        .form-group
          = f.button :submit, "Log in", class: "btn btn-md btn-primary btn-block"
      = render "devise/shared/links"
