%ul.navbar-nav
  - if user_signed_in?
    - if current_user.groups.any?
      %li.nav-item= link_to 'Search', search_path, class: 'nav-link'
    %li.nav-item= link_to 'Profile', profile_path, class: 'nav-link'
    %li.nav-item= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
  - else
    %li.nav-item= link_to 'Login', new_user_session_path, class: 'nav-link'
    %li.nav-item= link_to 'Register', new_user_registration_path, class: 'nav-link'
